/* Global styles */
* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #121212;
    color: rgb(255, 255, 255, 0.87);
    text-align: center;
}

/* Image styling */
img {
    width: 30rem;
}

/* Paragraph styling */
p {
    font-size: 18px;
    list-style-type: none;
}

/* Navigation styling */
nav {
    display: flex;
    justify-content: left;
    padding-bottom: 1rem;
}

/* Anchor tag styling */
a.button {
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
    color: white;
    background-color: #1c1c1c;
    border: 1px solid rgba(0, 0, 0, 0.87);
    box-shadow: 0px 2px;
}

/* Anchor tag hover effect */
a.button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px rgb(255, 255, 255);
    color: #000000;
    transition: background-color .4s, color .4s;
}

/* Anchor tag active effect */
a.button:active {
    position: relative; /* Add relative positioning */
    top: 3px; /* Move the active link down by 3 pixels */
    box-shadow: 0px 2px; /* Reset box shadow to original */
}

/* Resume link styling */
a.resume {
    margin-bottom: 5rem;
}

iframe {
    margin: 5rem;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
    /* Center header text */
    header {
        text-align: center;
    }

    /* Center navigation links */
    nav {
        justify-content: center;
        margin-bottom: 1rem;
    }

    /* Make image responsive */
    img {
        width: 100%;
        max-width: 30rem; /* Limit image size */
        height: auto;
    }

    /* Center resume link */
    a.resume {
        display: block;
        margin: 1rem auto;
    }

    /* Make video responsive */
    iframe {
        width: 100%;
        max-width: 800px; /* Limit video size */
        height: auto;
        margin: 1rem auto; /* Center video */
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust space between images */
    justify-content: center;
    padding: 20px;
}

.gallery a {
    border: none; /* Remove border from anchor */
}

.gallery img {
    width: 250px; /* Set fixed width */
    height: 250px; /* Set fixed height */
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}

#highres-image {
    max-width: 100%; /* Reduce the maximum width to make it smaller */
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image is centered */
    margin: 0 auto; /* Center the image horizontally */
    max-height: 100vh; /* Limit the height of the image */
}



#image-description {
    font-size: 0.9rem; /* Adjust the font size */
    color: aliceblue;
    text-align: center; /* Center the text */
    margin-top: 10px; /* Add some space between image and description */
}

.contact {
    padding-top: 3rem;
}

.intro {
    padding-left: 10rem;
    padding-right: 10rem;
    font-size: .95rem;
}